*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
  
}
#nav{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 25px;
    padding: 0 30px;
    font-size: 25px;
    font-weight: 600;
   
}
#nav h5{
    font-weight: 600;
    color: white;
    /* font-size: 25px; */
    padding: 10px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: black;
}


#center{
    margin-top: -60px;
    font-size: 110px;
    width: 100%;
    height: 40%;
    padding: 5% 0% 0% 5%;
    font-weight: 100;
    line-height: 0.9;
}
#left{
    width: 40%;
}

#IN-CENTER{
width: 100%;
padding: 5%;
display: flex;
justify-content: space-between;

}
#left{
    font-size: 25px;
}
#right{
    text-transform: uppercase;
    color: black;
    font-size: 20px;
    width: 20%;
   
}
.elem {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    font-weight: 600;
    font-size: 20px;
    border-top: 2px solid;
}
.elem a{
    color: black;
    text-decoration: none;
}
.elem i{
   opacity: 0;
}
.elem:hover i{
    opacity: 100;
    
}
.elem:hover{
    background: #e5dddd;
}
#bottom{
    background-repeat: no-repeat;
    height: 40%;
    width: 100%;
    background-color: red;
    background-size:cover ;
    background-position:0% 30% ;
    background-image: url(https://images.unsplash.com/photo-1509679708047-e0e562d21e44?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
